@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: rgb(48, 47, 47);
  width: 200vh;
}

h1{
  font-size: 60px;
  color: #556cd6;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 50, 50);
}

h3{
  display: flex;
  margin-right: -350px;
  background-color: red;
  border-radius: 50%;
  padding: 1px 8px;
  cursor: pointer;
}

h3:hover{
  transform: scale(1.1);
  color: white;
}

#criarTarefa{
  font-size: 20px;
  padding: 15px;
  margin-top: 60px;
  border-radius: 15px;
  background-color: rgb(49, 47, 47);
  color: #556cd6;
}

form {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 50px;
  width: 450px;
  background-color: rgb(121, 119, 119);
}

.descrição{
  margin-right: -40px;
}

.data{
  margin-left: -50px;
}

.notas{
  margin-left: 10px;
}

.not{
  margin-left: -145px;
}

#bntEnviarTarefa{
  color: #556cd6;
  width: 150px;
  padding: 7px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(49, 47, 47);
  cursor: pointer;
}

.tarefa-card{
  display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      margin: 10px auto;
      width: 600px;
      background-color: #f0f0f0;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      font-family: Arial, sans-serif;
      cursor: pointer;
}

.card-tarefa{
  background-color: rgb(97, 94, 94);
  color: #556cd6;
  padding: 15px;
  margin-top: 30px;
  border-radius: 20px;
}
